<div class="col-md-6 col-md-offset-3" *ngIf="this.currentUser!=null">
    <h1 >Hi {{this.currentUser.prenom}} !</h1>
    <p>You've logged in MyHotel.</p>
    <h3>Your profil:</h3>
    <ul>
        <li>
            Your username - {{this.currentUser.username}} ({{this.currentUser.prenom}} {{this.currentUser.nom}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
        <li>
            Your email - {{this.currentUser.email}}
        </li>
    </ul>
    <div *ngFor="let book of books, let i=index">
        <div *ngIf="book.clients[0].username==this.currentUser.username"><p>{{book.dateIn}} to Hotel {{book.rooms[0].hotel.name}}</p></div>
    </div>
</div>
