<!-- main app container -->
<div class="header clearfix">
	 <nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">MyHotel</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a routerLink="/dashboard" routerLinkActive="active">Accueil</a></li>
      <li><a routerLink="/register" routerLinkActive="active" *ngIf="getUser()==null"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="/login" routerLinkActive="active" *ngIf="getUser()==null"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <a routerLink="/home" routerLinkActive="active"  *ngIf="getUser()!=null">Mon espace</a>
    </ul>
  </div>
</nav> 
        <!--<nav align="right">
          <ul class="nav nav-pills pull-right">
	    <a routerLink="/dashboard" routerLinkActive="active">Accueil</a>

	<div class="btn-group">
            <a routerLink="/login" routerLinkActive="active" *ngIf="getUser()==null" class="btn btn-primary">S'identifier</a>
            <a routerLink="/register" routerLinkActive="active" *ngIf="getUser()==null" class="btn btn-primary">S'enregistrer</a>
          <a routerLink="/home" routerLinkActive="active"  *ngIf="getUser()!=null">Mon espace</a>
	</div>

          </ul>
        </nav>

        <h3 class="text-muted"><a routerLink="/dashboard" routerLinkActive="active">MyHotel</a></h3>-->
</div>

<div class="jumbotron">
    <div class="container">
        
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <h1>{{title}}</h1>
            
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://air.imag.fr/index.php/ECOM_RICM5_Groupe1_2017" target="_top">ECOM ricm5</a>
    </p>

</div>
