<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <nav align="right">
          <a routerLink="/dashboard" routerLinkActive="active">Accueil</a>
          ﻿<!--<?php if(currentUser) : ?>-->
          <a routerLink="/login" routerLinkActive="active" *ngIf="getUser()==null">S'identifier</a>
          <a routerLink="/register" routerLinkActive="active" *ngIf="getUser()==null">S'enregistrer</a>
          <a routerLink="/home" routerLinkActive="active"  *ngIf="getUser()!=null">Mon espace</a>
        </nav>
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <h1>{{title}}</h1>
            
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://air.imag.fr/index.php/ECOM_RICM5_Groupe1_2017" target="_top">ECOM ricm5</a>
    </p>

</div>
