<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2"><app-filtre-lieu (lieuChange)="setLieu($event)"></app-filtre-lieu></div>
  <div class="col-xs-12 col-sm-2 col-md-2"><app-filtre-date-arrive (dateInChange)="setDateIn($event)"></app-filtre-date-arrive></div>
  <div class="col-xs-12 col-sm-2 col-md-2"><app-filtre-date-depart (dateOutChange)="setDateOut($event)"></app-filtre-date-depart></div>
  <div class="col-xs-12 col-sm-2 col-md-2"><app-filtre-nombre-nuit (nbNuitChange)="setnbNuit($event)"></app-filtre-nombre-nuit></div>
  <div class="col-xs-12 col-sm-4 col-md-4"><app-filtre-nombre-personne (nbAdultsChange)="setAdults($event)" (nbChildrenChange)="setChildren($event)"></app-filtre-nombre-personne></div>
</div>