<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2"><app-filtre-lieu></app-filtre-lieu></div>
  <div class="col-xs-12 col-sm-2 col-md-2"><app-filtre-date-arrive></app-filtre-date-arrive></div>
  <div class="col-xs-12 col-sm-2 col-md-2"><app-filtre-date-depart></app-filtre-date-depart></div>
  <div class="col-xs-12 col-sm-2 col-md-2"><app-filtre-nombre-nuit></app-filtre-nombre-nuit></div>
  <div class="col-xs-12 col-sm-2 col-md-2"><app-filtre-nombre-personne></app-filtre-nombre-personne></div>
</div>