<div>
    <app-offre-reservation></app-offre-reservation>
</div>

<br>
<br>
<br>
<div align="center">
    <button (click)="openCheckout()" class="btn btn-success btn-lg">Réserver et Payer</button>
    <ng-container *ngIf="logged">

        <button type="button" class="btn btn-success btn-lg" (click)="book(0)"> Réserver sans Payer </button>

    </ng-container>
    
</div>
<br>
<div align="center">
    <button type="button" class="col-lg-10" class="btn btn-default btn-lg" (click)="goBack()"> Retourner aux descriptions </button>   
</div>