<div *ngIf="offre">
    <div class="container">
      <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-2">
            <img src="offre.rooms[0].hotel.image">
        </div>
        <div class="col-xs-11 col-sm-10 col-md-10">
          <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10">
                <h2><div class="list-group-item-heading" >{{offre.rooms[0].hotel.name}}
                <span *ngIf="offre.rooms[0].hotel.stars>0" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span *ngIf="offre.rooms[0].hotel.stars>1" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span *ngIf="offre.rooms[0].hotel.stars>2" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span *ngIf="offre.rooms[0].hotel.stars>3" class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span *ngIf="offre.rooms[0].hotel.stars>4" class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </div></h2>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2">
              <p>Avis:</p>
            </div>
          </div>
          <p>{{offre.rooms[0].hotel.address}}<br>
              {{offre.rooms[0].hotel.town}}<br>
              {{offre.rooms[0].hotel.description}}<br>
              {{offre.rooms[0].hotel.website}}
          </p>
        </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-10">
              <h2>Description de l'offre:</h2>
              <p>Du {{offre.dateStart | date :'dd MMM yyyy'}} au {{offre.dateEnd | date :'dd MMM yyyy'}} </p>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
              <button type="button" class="btn btn-default btn-lg"> 
                  Prix: {{offre.price}}
                  <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
              </button>
          </div>
      </div>
      <div class="row">
          
          <div *ngFor="let room of offre.rooms, let i=index">
              <div class="col-md-3"> <p>Chambre {{i+1}}</p></div>
              <div class="col-md-9">
                      <div><p>{{room.places}} personnes</p></div>
                      <div *ngIf="room.doubleBed>0"><p>{{room.doubleBed}} lit double</p></div>
                      <div *ngIf="room.simpleBed>0"><p>{{room.simpleBed}} lit simple</p></div>
  
                      <button *ngIf="room.tv" type="button" class="btn btn-default btn-lg"> 
                          TV
                          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      </button>
                      <button *ngIf="room.bathroom" type="button" class="btn btn-default btn-lg"> 
                          Salle de bain:
                          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      </button>
                      <button *ngIf="room.kitchen" type="button" class="btn btn-default btn-lg"> 
                          Cuisine:
                          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      </button>
                      
              </div>
          </div>
          
      </div>
    </div>  
  </div> 
  