<app-recherche-barre (parametre)="search($event)"></app-recherche-barre>

<h1></h1>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <app-recherche-plus></app-recherche-plus>
        </div>
        <div class="col-md-10">
            <div class="container">
                <div *ngIf="offres">
                    <ul>
                        <li *ngFor="let offre of offres; let i = index">
                                <app-offre-desc [(offre)]="offres[i]"></app-offre-desc>
                        </li>
                    </ul>                    
                </div>
                <div *ngIf="!offres">
                    <h2>Il n'existe pas d'offre correspondant votre recherche.</h2>
                </div>
            </div>

        </div>
    </div>
</div>